<p>Bonjour <strong>{{ name }}</strong>,</p>
<p>{{content}}</p>



<br>
L'Equipe SMIM-MAHAJANGA vous remercie.
<br><br>
<div class="row" style="font-family: Arial, Helvetica, sans-serif;">
    <h3>SMIM</h3>
    <strong>Service Médical Inter-Entreprises de Mahajanga</strong><br>
    Lot 0101 AG 0020 Avenue de la libération Mangarivotra Mahajanga <br>
    Tel: +26134 32 247 00 / +26132 05 489 05
    Email: smim.ng@moov.mg <br>
    NIF: 4000329288 STAT: 86 201 41 20040 00018
</div>